body{
    background-image: url(pexels-markusspiske-114296.jpg );
     background-attachment: fixed;
     inset: 0; 
     background-size: cover;
     
     

 
}
.blue:hover{
    color: rgb(8, 8, 8);


}
.red:hover{
    color: rgb(16, 202, 62);

}
.green:hover{
    color: rgb(9, 235, 235);

}
/* .img{
   position: fixed;
    inset: 0;
    object-fit: cover;
    z-index: -100;
    width: 100%;
    height: 100%;
}     */